extends layout


block header
	a(href="/profiles", rel="external") Users
	h1 #{title}
	if logged_in
		a(href="/logout", rel="external", class="ui-btn-right") Logout
	else
		a(href="/login", rel="external", class="ui-btn-right") Login

block content

	script(type="text/javascript")
	mixin getDate(time)
		var date = new Date(time*1000); return date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()}

	mixin listItem(user, checkin)
		li(data-icon="false")
			a 
				h3(style="float:left") #{user.name.givenName} #{user.name.familyName} checked in at #{checkin.venue.name}
				p(style="float:left") #{checkin.venue.location.city}, #{checkin.venue.location.state}
				span(style="float:right") #{getDate(checkin.createdAt)}

	ul(data-role="listview", data-inset="true")
		each checkin in checkins
			+listItem(user, checkin)